langchain
langchain-community
langchain-groq
langchain-core
langchain-ollama
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers
groq
pypdf
python-dotenv

gradio==4.44.1
gradio_client==1.3.0
huggingface_hub==0.25.2
fastapi==0.112.2
pydantic==2.9.2